{% extends 'base_dashboard.html' %}
{% block title %}Delete Table | PlayBite{% endblock %}
{% block content %}
<div>
  <div>
    <div class="p-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3>Delete Table</h3>
          <p>Are you sure you want to delete table "{{ object.table_number }}"?</p>
          <form method="post">
            {% csrf_token %}
            <a href="{% url 'restaurants:table_list' %}" class="btn btn-outline-secondary">Cancel</a>
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
